{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{# {{ drupal_block('securance_main_menu') }} #}


<header>
    <div class="container">
    <div class="row">
        <div class="col-3">
            <div class="header-logo">
                {{ drupal_block('system_branding_block', {label: 'Branding', use_site_name: false}) }}
            </div>
        </div>
        <div class="col-9">
            <div class="header-main-menu-wrapper">
                {{ drupal_entity('block', 'securance_main_menu') }}
                {{ drupal_entity('block', 'securance_custommenu')}}
                {{ drupal_entity('block', 'securance_languageswitcher') }}
                {{ drupal_entity('block', 'securance_searchform')}}
            </div>
        </div>
    </div>
    </div>
</header>
