<div class="contact-block" style="background-image: url('{{ file_url(content.field_background_image[0]['#media'].field_media_image.entity.uri.value) }}'); background-position: center; background-size: cover;">
	<div class="container">
		<div class="contact-content">
			<h2>{{ label }}</h2>
			<h2>{{ content.field_heading }}</h2>
			<div class="description">{{ content.field_body }}</div>
			<div class="contact-btn">
				{% if content.field_cta_text['#items'].title %}
					<a href="javascript:void(0);" class="cta-button" data-toggle="modal" data-target="#modalWrapper">
						{{ content.field_cta_text['#items'].title }}
					</a>
				{% endif %}
				{% if content.field_cta_text_2['#items'].title %}
					<a href="{{ content.field_cta_text_2['#items'].uri }}" class="cta-button">
						{{ content.field_cta_text_2['#items'].title }}
					</a>
				{% endif %}

			</div>

		</div>
	</div>
</div>

{% if content.field_modal_card['#items'] is not empty %}
	<div class="modal-wrapper" id="modalWrapper">
		<div class="modal-overlay"></div>
		<div class="cards-wrapper">
			<button class="close-modal-btn">
				<span>×</span>
			</button>
			{% for item in content.field_modal_card['#items'] %}
				<div class="card-outer">
					<div class="card">
						<div class="card-content">
							{% if item.entity.field_icon.entity %}
								{% set media_entity = item.entity.field_icon.entity %}
								{% if media_entity.field_media_image.entity %}
									{% set image = media_entity.field_media_image.entity %}
									<div class="image-wrapper">
										<img src="{{ image.uri.value | file_url }}" alt="{{ image.alt.value }}">
									</div>
								{% endif %}
							{% endif %}
							<h3>{{ item.entity.field_title.value }}</h3>
							<h4>{{ item.entity.field_description.value }}</h4>
						</div>
						{% if item.entity.field_cta_text.value %}
							<a href="{{ item.entity.field_cta_text.0.url }}" class="cta-button">{{ item.entity.field_cta_text.0.title }}</a>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<script>
		let modal = document.querySelector(".modal-wrapper");
		let contactBtn = document.querySelector('.contact-btn .cta-button[data-toggle="modal"]');

		if (contactBtn) {
			contactBtn.addEventListener('click', () => {
				if (modal) {
					modal.classList.toggle('modal-wrapper-show');
				}
			});
		}

		if (modal) {
			modal.querySelector(".close-modal-btn", ".modal-overlay").addEventListener('click', () => {
				modal.classList.toggle('modal-wrapper-show');
			});
			modal.querySelector(".modal-overlay").addEventListener('click', () => {
				modal.classList.toggle('modal-wrapper-show');
			});
		}
	</script>
{% endif %}