<div class="footer-menu">
    <ul>
        <li>
            <h4>{{content.field_country_name}}</h4>
        </li>
        <li>
            <div class="office-address">
                <h6>{{content.field_address_label}}</h6>
                <div class="address-content">
                    <div>{{content.field_address_line}}</div>
                    <div>{{content.field_country_zip_and_city}}</div>
                </div>
                <div class="office-phone">
                    <a href="tel:">{{content.field_telephone}}</a>
                </div>
            </div>
        </li>    
    </ul>
</div>

