<div class="advisory-guide-block {{ content.field_service_type.0['#markup']|lower }}" style="background: linear-gradient(180deg,#ffffff 50%,{{content.field_background_overlay.0['#markup']}} 50%)">
	<div class="container">
		<div class="advisory-content-wrapper {% if content.field_border_radius['#items'].value %}radius{% endif %}" style="{% if file_url(content.field_banner_background[0]['#media'].field_media_image.entity.uri.value) %}background-image: url('{{ file_url(content.field_banner_background[0]['#media'].field_media_image.entity.uri.value) }}'); background-position: center; background-size: cover;{% endif %} {% if content.field_background_color|render|striptags|trim %}background: {{ content.field_background_color|render|striptags|trim }}{% endif %}">
			<div class="advisory-row">
				<div class="advisory-content-column {% if content.field_increase_content_width['#items'].value %}advisory-content-column-width{% endif %}">
					<div class="advisory-content">
						{% if content.field_sub_heading[0]['#context'].value %}
							<h6 style="color: {{ content.field_sub_heading_color|render|striptags|trim }}">{{content.field_sub_heading[0]['#context'].value}}</h6>
						{% endif %}
						{% if content.field_heading[0]['#context'].value %}
							<h2 style=" color: {{ content.field_title_color|render|striptags|trim }} ">{{content.field_heading[0]['#context'].value}}</h2>
						{% endif %}
						{% if content.field_description[0]['#context'].value %}
							<p style="color: {{ content.field_description_color|render|striptags|trim }}">
								{{content.field_description[0]['#context'].value}}
							</p>
						{% endif %}
						<div class="advisory-btn">
							<a href="{{content.field_cta_text['#items'].uri}}">
								{{content.field_cta_text['#items'].title}}
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
									<g>
										<g>
											<path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64   c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472   c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z"></path>
										</g>
									</g>
									<g>
										<g>
											<path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z"></path>
										</g>
									</g>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="advisory-img-column {% if content.field_increase_content_width['#items'].value %}advisory-img-column-width{% endif %}">
					<div class="advisory-img">
						{{content.field_figure}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
