<div class="approach-step-block">
	<div class="container">
		<div class="approach-step-main-wrapper">
			<div class="heading">
				<h2>{{content.field_heading.0['#context'].value}}</h2>
				<p>{{content.field_description.0['#context'].value}}</p>
			</div>
			<div class="approach-step-wrapper">
				<div class="approach-step-img">
					<img src="/themes/custom/securance/images/approach-step-img1.png" alt="approach-step-img">
				</div>
				{% for item in content.field_approach_steps['#items'] %}
					<div class="approach-step-card">
						<div class="approach-step-header" style="background-image: conic-gradient( #a12844 calc(20% * {{loop.index}}), #da8b9d calc(20% * {{loop.index}}),#da8b9d 100%);">
							<div class="approach-header-content">
								<img src="/themes/custom/securance/images/icons/{{item.entity.field_select_icon.value}}.svg" alt="{{item.entity.field_select_icon.value }}">
								<h5>{{item.entity.field_step_number.value}}</h5>
							</div>
						</div>
						<div class="approach-step-body">
							<h6>{{item.entity.field_step_heading.value}}</h6>
							<p>{{item.entity.field_step_description.value}}</p>
						</div>
					</div>
				{% endfor %}
				<div class="approach-step-img">
					<img src="/themes/custom/securance/images/approach-step-img2.png" alt="approach-step-img">
				</div>
			</div>
			<div class="approach-step-link">
				{{content.field_cta_text_2}}
			</div>
		</div>
	</div>
</div>
