<div class="securance-banner {% if content.field_set_position_left['#items'].value %} banner-full-width {% endif %} {% if file_url(content.field_banner_background[0]['#media'].field_media_image.entity.uri.value) %}banner-spacing{% endif %}">
	{% if file_url(content.field_banner_background[0]['#media'].field_media_image.entity.uri.value) %}
		<div class="securance-banner-bg">
			<img src="{{ file_url(content.field_banner_background[0]['#media'].field_media_image.entity.uri.value) }}" alt="banner-bg">
		</div>
	{% endif %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="securance-banner-content">
					{% if content.field_sub_heading[0]['#context'].value %}
						<h6>{{content.field_sub_heading[0]['#context'].value}}</h6>
					{% endif %}
					{% if content.field_title[0]['#context'].value %}
						<h1>{{content.field_title[0]['#context'].value}}</h1>
					{% endif %}
					{% if content.field_description[0]['#context'].value %}
						<p>{{content.field_description[0]['#context'].value}}</p>
					{% endif %}
					<div class="securance-banner-link">	
						<a class="cta-button" href="javascript:void(0);" data-toggle="modal" data-target="#modalWrapper">{{ content.field_cta_text_2['#items'].title }}</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 {% if field_right_column_width['#items'].value %}col-right-width{% endif %}">
				{% if file_url(content.field_figure[0]['#media'].field_media_image.entity.uri.value) %}
					<div class="securance-banner-img">
						<img src="{{ file_url(content.field_figure[0]['#media'].field_media_image.entity.uri.value) }}" alt="banner-img">
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% if content.field_modal_card['#items'] is not empty %}
	<div class="modal-wrapper" id="modalWrapper">
		<div class="modal-overlay"></div>
		<div class="cards-wrapper">
			<button class="close-modal-btn">
				<span>×</span>
			</button>
			{% for item in content.field_modal_card['#items'] %}
				<div class="card-outer">
					<div class="card">
						<div class="card-content">
							{% if item.entity.field_icon.entity %}
								{% set media_entity = item.entity.field_icon.entity %}
								{% if media_entity.field_media_image.entity %}
									{% set image = media_entity.field_media_image.entity %}
									<div class="image-wrapper">
										<img src="{{ image.uri.value | file_url }}" alt="{{ image.alt.value }}">
									</div>
								{% endif %}
							{% endif %}
							<h3>{{ item.entity.field_title.value }}</h3>
							<h4>{{ item.entity.field_description.value }}</h4>
						</div>
						{% if item.entity.field_cta_text.value %}
							{% set cta = item.entity.field_cta_text.value[0] %}
							<a href="{{ item.entity.field_cta_link.uri }}" class="cta-button">{{ cta.title }}</a>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<script>
		let modal = document.querySelector(".modal-wrapper");

		let contactBtn = document.querySelector('.securance-banner-link .cta-button[data-toggle="modal"]');
		if (contactBtn) {
			contactBtn.addEventListener('click', () => {
				if (modal) {
					modal.classList.toggle('modal-wrapper-show');
				}
			});
		}

		if (modal) {
			modal.querySelector(".close-modal-btn", ".modal-overlay").addEventListener('click', () => {
				modal.classList.toggle('modal-wrapper-show');
			});
			modal.querySelector(".modal-overlay").addEventListener('click', () => {
				modal.classList.toggle('modal-wrapper-show');
			});
		}
	</script>
{% endif %}