<div class="case-study-block">
	<div class="container">
		<div class="case-study-main-wrapper">
			<div class="heading">
				<h6>{{content.field_sub_heading[0]['#context'].value}}</h6>
				<h1>{{content.field_heading[0]['#context'].value}}</h1>
				<p>{{content.field_description[0]['#context'].value}}</p>
			</div>
			<div class="case-study-cards-wrapper">
				{{content.field_case_study}}
			</div>
			<div class="case-study-link-wrapper">
				{{content.field_cta_text}}
			</div>
		</div>
	</div>
</div>
