{% set service_type = content.field_service_type['#items'].value %}
<div class="advisory-guide-block {{ service_type }}" style="background: linear-gradient(180deg,#ffffff 50%,{{content.field_background_overlay.0['#markup']}} 50%)">
	<div class="container">
		<div class="advisory-content-wrapper advisory-content-wrapper-{{service_type}} {% if content.field_border_radius['#items'].value %}radius{% endif %}" style="{% if file_url(content.field_banner_background[0]['#media'].field_media_image.entity.uri.value) %}background-image: url('{{ file_url(content.field_banner_background[0]['#media'].field_media_image.entity.uri.value) }}'); background-position: center; background-size: cover;{% endif %} {% if content.field_background_color|render|striptags|trim %}background: {{ content.field_background_color|render|striptags|trim }}{% endif %}">
			<div class="advisory-row">
				<div class="advisory-content-column {% if content.field_increase_content_width['#items'].value %}advisory-content-column-width{% endif %} service-type-{{service_type}}">
					<div class="advisory-content">
						{% if content.field_sub_heading[0]['#context'].value %}
							<h6 style="color: {{ content.field_sub_heading_color|render|striptags|trim }}">{{content.field_sub_heading[0]['#context'].value}}</h6>
						{% endif %}
						{% if content.field_heading[0]['#context'].value %}
							<h2 style=" color: {{ content.field_title_color|render|striptags|trim }} ">{{content.field_heading[0]['#context'].value}}</h2>
						{% endif %}
						{% if content.field_description[0]['#context'].value %}
							<p style="color: {{ content.field_description_color|render|striptags|trim }}">
								{{content.field_description[0]['#context'].value}}
							</p>
						{% endif %}
						<div class="advisory-btn">
							<a href="{{content.field_cta_text['#items'].uri}}">
								{{content.field_cta_text['#items'].title}}
								{% if content.field_service_type.0['#markup']|lower == 'cybersecurity' %}
								<svg aria-hidden="true" class="e-font-icon-svg e-fas-arrow-right" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
									<path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
								</svg>
								 {% else %}
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
										<g>
											<g>
												<path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64   c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472   c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z"></path>
											</g>
										</g>
										<g>
											<g>
												<path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z"></path>
											</g>
										</g>
									</svg>
								{% endif %}
							</a>
						</div>
					</div>
				</div>
				{% if content.field_figure[0]['#media'].field_media_image.entity.uri.value %}
				<div class="advisory-img-column {% if content.field_increase_content_width['#items'].value %}advisory-img-column-width{% endif %}">
					<div class="advisory-img">
						<img src="{{ file_url(content.field_figure[0]['#media'].field_media_image.entity.uri.value) }}" alt="assurance-img">
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
