<div class="assurance-faq-block">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="heading">
					<h6>{{content.field_sub_heading[0]['#context'].value}}</h6>
					<h1>{{content.field_heading[0]['#context'].value}}</h1>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="accordion" id="accordionExample">
					{% for item in content.field_faq['#items'] %}
						<div class="accordion-item">
							{% set accor_id = 'accor-' ~ item.entity.id.value %}
							<h2 class="accordion-header" id="heading-{{accor_id}}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{accor_id}}" aria-expanded="true" aria-controls="collapse-{{accor_id}}">
									{{ item.entity.field_question.value }}
									<span class="open">
										<svg class="e-font-icon-svg e-fas-minus" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
											<path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
										</svg>
									</span>
									<span class="close">
										<svg class="e-font-icon-svg e-fas-plus" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
											<path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
										</svg>
									</span>
								</button>
							</h2>
							<div id="collapse-{{accor_id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{accor_id}}" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									{{ item.entity.field_answer.value }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
