<div class="stat-component-wrapper" style="background-image: url('{{ file_url(content.field_banner_background[0]['#media'].field_media_image.entity.uri.value) }}'); background-position: center; background-size:cover; ">
	<div class="container">
		<div class="heading">
			{% if content.field_title %}
				<h2 class="banner-title">{{ content.field_title }}</h2>
			{% endif %}
			{% if content.field_description %}
				<div class="banner-description">{{ content.field_description }}</div>
			{% endif %}
		</div>
		<div class="row stats-wrapper">
			{% for item in content.field_securance_stats['#items'] %}
				<div class="col-3 stat-item">
					<div class="stat-value">
						{% if item.entity.field_stats_character.value == 'euro' %}
                           <span>€</span>{{ item.entity.field_results_value.value }}
                        {% elseif item.entity.field_stats_character.value == 'dollar' %}
                            <span>$</span>{{ item.entity.field_results_value.value }}
						{% elseif item.entity.field_stats_character.value == 'percentage' %}
							{{ item.entity.field_results_value.value }}<span>%</span>
						{% else %}
							{{ item.entity.field_results_value.value }}
						{% endif %}
						{# {{ item.entity.field_results_value.value }} #}
					</div>
					<div class="stat-description">
						{{ item.entity.field_stats_description.value }}
					</div>
				</div>
			{% endfor %}
		</div>

	</div>
</div>
