<div class="readiness-block {% if content.field_connecter_line['#items'].value == 'dashes' %} readiness-dashes-block {% endif %} ">
	<div class="container">
		<div class="readiness-wrapper">
			<div class="heading">
				{% if content.field_sub_heading.0['#context'].value %}
					<h6>{{ content.field_sub_heading.0['#context'].value}}</h6>
				{% endif %}
				{% for item in content.field_header_section['#items'] %}
					<h2>{{ item.entity.field_question.value }}</h2>
					<p>{{ item.entity.field_answer.value }}</p>
				{% endfor %}
			</div>
			<div class="readiness-content-wrapper">
				{% for item in content.field_readiness_scan_approach['#items'] %}
					<div class="readiness-card">
						<div class="readiness-card-content">
							<div class="card-header">
									<div class="{% if content.field_connecter_line['#items'].value == 'solid' %}card-icon{% endif %}">
									{% if item.entity.field_icon.entity %}
										{% set media_entity = item.entity.field_icon.entity %}
										{% if media_entity.field_media_image.entity %}
											{% set image = media_entity.field_media_image.entity %}
											<div class="image-wrapper">
												<img src="{{ image.uri.value | file_url }}" alt="{{ image.alt.value }}">
											</div>
										{% endif %}
									{% endif %}

								</div>
								{% if content.field_connecter_line['#items'].value == 'solid' %}
									{% if item.entity.field_title.value is not empty %}
										<h4>{{ item.entity.field_title.value }}</h4>
									{% endif %}
								{% endif %}
							</div>
							<div class="card-body">
								{% if content.field_connecter_line['#items'].value == 'solid' %}
									{% for content_item in item.entity.field_card_content %}
										{% if content_item.entity.field_question.value is not empty %}
											{% if not (content_item.entity.hasTranslation(lang)) %}
												{% set lang = 'en-gb' %}
											{% endif %}
											<h4>{{ content_item.entity.getTranslation(lang).field_question.value }}</h4>
										{% endif %}

										{% if content_item.entity.field_answer.value is not empty %}
										{% if not (content_item.entity.hasTranslation(lang)) %}
											{% set lang = 'en-gb' %}
										{% endif %}
											<p>{{ content_item.entity.getTranslation(lang).field_answer.value }}</p>
										{% endif %}
									{% endfor %}
								{% elseif content.field_connecter_line['#items'].value == 'dashes' %}
									{% if item.entity.field_title.value is not empty %}
										{% if not (item.entity.hasTranslation(lang)) %}
											{% set lang = 'en-gb' %}
										{% endif %}
										<h4>{{ item.entity.getTranslation(lang).field_title.value }}</h4>
									{% endif %}
									{% if item.entity.field_description.value is not empty %}
											{% if not (item.entity.hasTranslation(lang)) %}
												{% set lang = 'en-gb' %}
										{% endif %}
										<p>{{ item.entity.getTranslation(lang).field_description.value }}</p>
									{% endif %}
								{% endif %}
							</div>
						</div>
						<div class="readiness-img-content">
							{% if content.field_connecter_line['#items'].value == 'solid' %}
								<img class="solid-desktop" src="/themes/custom/securance/images/Connector-line-solid.png">
								<img class="solid-mobile" src="/themes/custom/securance/images/Connector-line-solid-mob.png">
							{% elseif content.field_connecter_line['#items'].value == 'dashes' %}
								<img class="solid-desktop" src="/themes/custom/securance/images/Connector-line-dashes.svg">
								<img class="solid-mobile" src="/themes/custom/securance/images/Connector-line-dashes-mob.svg">	
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
